body {
  width: 100%;
  height: 100%;
}

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  width: 350px;
  height: 400px;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  height: 30px;
  background: tomato;
}

.footer {
  background: lightgreen;
}

.row {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  padding: 24px;
}

.aside {
  height: 283px;
  flex: 1 auto;
}

.aside-1 {
  order: 1;
  background: gold;
}

.aside-2 {
  order: 3;
  background: hotpink;
}

.footer {
  order: 4;
  height: 25px;
}

